<h1 id="johannes">Johannes</h1>

<p>Johannes is a web content system. It is designed to be a content renderer, as well as a content production system. However, the latter can be used without the former with a simple API.</p>

<p>It is designed to give the most freedom to the designer and developer of the site but also allow contextual editing of content for the content writer(s).</p>

<h2 id="features_ideas">Features / Ideas</h2>

<ul>
<li>Inline editing</li>
<li>Multiple content types
	<ul>
		<li>Text section</li>
		<li>List (of links)</li>
		<li>More TBD</li>
	</ul>
</li>
<li>Markdown based syntax option</li>
<li>Very AJAX based, probably at most one page which is available out of context of the content itself</li>
<li>Potential to reuse content by linking it within multiple pages</li>
<li>Custom pages can be served from the file system if present</li>
<li>Multiple author support</li>
<li>Content versioning</li>
<li>Content curation (timed release, expiry, etc)</li>
<li>Content workflow</li>
</ul>

<h2 id="notes">Notes</h2>

<p>This is a new project, born out of a frustration of using different content systems and not finding them able to answer my needs. Also as a chance to work on a node.js project in my (very minimal) spare time.</p>

<p>
I suspect that some of the content production features (multi author, workflow, etc.) will be done later as I don't have an immediate personal need for those things in my own sites.
</p>
